/*Navigation Bar*/

body {
    margin: 0;
    background-color: rgb(122, 128, 133);
}

.navBar {
    background-color: rgb(83, 87, 90);
    overflow: hidden;
    font-family: 'Roboto';
    font-style: normal;
    display: block;
    text-align: right;
}

.navBar a {
    float: right;
    color: #f2f2f2;
    vertical-align: middle;
    padding: 16px 30px 16px 30px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.navBar a:hover {
    background-color: #ddd;
    color: black;
}

.navBar a.active {
    background-color: #67a0bb;
    color: white;
}

/*Sidebar*/

.sideBar {
    font-family: 'Roboto';
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(83, 87, 90);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

.sideBar a {
    padding: 6px 8px 30px 16px;
    text-align: center;
    text-indent: 50px;
    text-decoration: none;
    font-size: 36px;
    color: #cfcaca;
    display: flex;
}

.sideBar a:hover {
    color: #67a0bb;
}

.profile {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.homeprofile h1 {
    text-align: center;
    font-size: 40px;
    color: #e6dfdf;
    margin-left: 25px;
}

.homepic {
    margin-left: 125px;
    border-radius: 50%;
    max-width: 18%;
    max-height: 18%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.homeprofile a {
    padding: 6px 8px 30px 16px;
    text-align: center;
    text-indent: 0px;
    text-decoration: none;
    font-size: 36px;
    color: #cfcaca;
    display: block;
}

.projects {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.discordbot {
    margin-left: 125px;
    width: 50%;
    margin-top: 50px;
}

.projects h1 {
    font-size: 36px;
    color: #e6dfdf;
    margin-left: 125px;
}

.projects p {
    color: #e6dfdf;
    font-size: 24px;
    word-wrap: break-word;
    line-height: 50px;
    width: 800px;
    margin-left: 600px;
}

.about {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.aboutPic {
    margin-left: 50px;
    margin-top: 40px;
    width: 20%;
    border-radius: 0;
}

.about p {
    font-size: 24px;
    color: #e6dfdf;
    text-decoration: none;
    word-wrap: break-word;
    line-height: 50px;
    display: block;
    margin-left: 600px;
    margin-top: 30px;
    width: 800px;
}

.experience {
    font-family: 'Source Sans Pro', sans-serif;
}

.experience a {
    text-align: right;
    font-size: 24px;
    color: #e6dfdf;
    text-decoration: none;
    word-wrap: break-word;
    line-height: 50px;
    display: block;
    margin-left: 230px;
    margin-top: 60px;
    width: 800px;
}

.experience p {
    color: #e6dfdf;
    font-size: 18px;
    margin-left: 750px;
    margin-top: 80px;
    max-width: 500px;
    word-wrap: break-word;
    position: absolute;
}

.mathenrichment {
    font-family: 'Source Sans Pro', sans-serif;
    color: #e6dfdf;
    font-size: 18px;
    margin-left: 750px;
    margin-top: 250px;
    max-width: 500px;
    word-wrap: break-word;
    position: absolute;
}

.bigger {
    font-size: 20px;
}

.habla {
    text-align: left;
    margin-left: 600px;
    margin-top: 75px;
    width: 5%;
    position: absolute;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
}