* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    /* Hides Scrollbar */
    width: 0 !important
}

.parallax_one {
    background-image: url("https://i.imgur.com/VaPTDi5.jpg");
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.name {
    text-align: center;
    font-size: 72px;
    color: rgb(155, 148, 148);
    padding: 0px;
    margin: 0;
    line-height: 10rem;
}

.parallax_two {
    background-image: url("https://i.imgur.com/gSgw8jY.jpg");
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: auto;
}

.container {
    height: 600px;
    background-color: rgb(36, 30, 30);
    padding: 0px 500px 0px 500px;
    font-size: 36px;
}

.subtitles {
    text-align: center;
    margin: 0;
    font-size: 36px;
    line-height: 8rem;
}

.minititle {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.row {
    display: block;
    color: rgb(155, 148, 148);
    margin-top: 0px;
}

.content_block {
    float: left;
    display: block;
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    padding: 0 0.75rem;
    box-sizing: border-box;
}

.content_text {
    display: block;
    box-sizing: inherit;
    font-size: 14px;
    color: rgb(155, 148, 148);
    margin: 0px;
}

#center.row {
    margin-top: 0px;
    padding-top: 2rem;
    margin-bottom: 0px;
    text-align: center;
}

.parallax_three {
    background-image: url("https://i.imgur.com/GeuUVom.jpg");
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.footer {
    page-break-after: always;
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    background-color: rgb(36, 30, 30);
    text-align: center;
}